<ol class="breadcrumb">
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'recipes'}}Recipes{{/link-to}}</li>
  <li class="active">{{name}}</li>
</ol>

<h2>{{name}}</h2>

<p>{{description}}</p>
